<div class="container">
    <h1>Create New Record</h1>

    <a href="#" routerLink="/employeeList/" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">

        <div class="form-group">
            <label for="title">FirstName</label>
            <input formControlName="firstName" id="firstName" type="text" class="form-control">
            <div *ngIf="f['firstName'].touched && f['firstName'].invalid" class="alert alert-danger">
                <div *ngIf="f['firstName'].errors && f['firstName'].errors['required']">firstName is required.</div>
                <div *ngIf="f['firstName'].errors['minlength']">
                    First Name must be at least 3 characters long.
                </div>
                <div *ngIf="f['firstName'].errors['maxlength']">
                    Fisrt Name maximum 10 characters long.
                </div>
                <div *ngIf="f['firstName'].errors['pattern']">
                    Please Enter characters Only
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">LastName</label>
            <input formControlName="lastName" id="lastName" type="text" class="form-control">
            <div *ngIf="f['lastName'].touched && f['lastName'].invalid" class="alert alert-danger">
                <div *ngIf="f['lastName'].errors && f['lastName'].errors['required']">lastName is required.</div>
                <div *ngIf="f['lastName'].errors['minlength']">
                    Last Name must be at least 3 characters long.
                </div>
                <div *ngIf="f['lastName'].errors['maxlength']">
                    Last Name maximum 10 characters long.
                </div>
                <div *ngIf="f['lastName'].errors['pattern']">
                    Please Enter characters Only
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Email</label>
            <input formControlName="email" id="email" type="email" class="form-control">
            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                <div *ngIf="f['email'].errors && f['email'].errors['required']">email is required.</div>
                <div *ngIf="f['email'].errors['pattern']">Enter Valid Email Address</div>
            </div>
        </div>

        <div class="form-group">
            <label for="title">Phone</label>
            <input formControlName="phone" id="phone" type="number" class="form-control">
            <div *ngIf="f['phone'].touched && f['phone'].invalid" class="alert alert-danger">
                <div *ngIf="f['phone'].errors && f['phone'].errors['required']">phone number is required.</div>
                <div *ngIf="f['phone'].errors['pattern']">Enter correct phone No.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Salary</label>
            <input formControlName="salary" id="salary" type="number" class="form-control">
            <div *ngIf="f['salary'].touched && f['salary'].invalid" class="alert alert-danger">
                <div *ngIf="f['salary'].errors && f['salary'].errors['required']">salary is required.</div>
                <div *ngIf="f['salary'].errors['min']">
                    salary should be greater than 1000
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="title">Address</label>
            <input formControlName="address" id="address" type="text" class="form-control">
            <div *ngIf="f['address'].touched && f['address'].invalid" class="alert alert-danger">
                <div *ngIf="f['address'].errors && f['address'].errors['required']">address is required.</div>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
</div>